@-webkit-keyframes append-recipe {
    0% {
        visibility: hidden;
        transform: translateX(100%);
    }

    100% {
        visibility: visible;
        transform: translateX(0);
    }
}

@-webkit-keyframes hide-recipe {
    0% {
        visibility: visible;
        transform: translateX(0);
    }

    100% {
        visibility: hidden;
        transform: translateX(100%);
    }

}

.append-recipe {
    animation: append-recipe .5s ease-in-out;
}

.hide-recipe {
    animation: hide-recipe .5s ease-in-out;
    visibility: hidden;
}

.recipe {
    -webkit-transform: translate3d(0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #D6D9CE;
    z-index: 10000;
    height: 100%;

    &__image {
        display: block;
        margin: 0 auto;
        width: 230px;
        border-radius: 50%;
        margin-top: -225px;
    }


    &__backBtn {
        display: block;
        padding: 10px 10px 0;
        background-color: transparent;
        border: none;
        color: black;
        font-size: 16px;
        font-family: "Montserrat", sans-serif;

        .button-arrow {
            vertical-align: middle;
            margin-right: 10px;
            margin-bottom: 2px;
        }
    }

    &__name {
        margin-top: -10px;
        font-style: italic;
        font-size: 24px;
        line-height: 0.8;
        text-align: center;
        margin-bottom: 30px;
    }

    &__body {
        background-color: #fff;
        padding: 30px 20px 40px; 
        border-radius: 16px;
        margin-top: 2px;

        &:first-of-type {
            margin-top: 210px;
        }
    }

    &__ingredients {
        margin: 0 -20px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        flex-direction: column;

        .ingredient {
            display: flex;
            flex-wrap: nowrap;
            border-top: 1px solid rgba(0, 0, 0, .1);

            p {
                margin: 11px 0 13px;
                box-sizing: border-box;
                width: 50%;
                font-size: 14px;
                text-align: left;

                &:first-of-type {
                    margin-left: 20px;
                }

                &:last-of-type {
                    margin-right: 20px;
                }
            }
        }
    }

}

.step {
    &__index {
        margin: 30px 0 0;
        padding-left: 5px;
        font-size: 48px;
        font-weight: bold;
        font-style: italic;
    }

    &__name {
        font-size: 0;
    }

    &__ingredients {
        margin: 0;
        font-size: 48px;
        line-height: 1.1;
        font-weight: normal;
        color: #00C24C;
    }

    .image-wrapper {
        display: flex;
        margin-right: -12px;
    }

    .title-wrapper {
        margin-bottom: 20px;
        margin-top: auto;
        flex: 0 0 100%;
        z-index: 2;
    }

    &__description {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 0px;
    }

    &__pic {
        margin-top: auto;
        width: 250px;
        height: 250px;
        transform: translateX(-100%);
        z-index: 1;

        img {
            height: 100%;
            width: auto;
        }
    }
}