.bandit {
    align-items: center;
    text-align: center;
    &__display {
        display: flex;
        width: 500px;
        border-radius: 5px;
        overflow: hidden;
        justify-content: center;

    }

    &__spinner {
        padding: 15px;
        height: 150px;
        background-color: #bbb;
        border: 1px solid #888;
        width: 33.333333%;
    }
}