@-webkit-keyframes append-info {
    0% {
        visibility: hidden;
        transform: translateY(100%);
    }

    100% {
        visibility: visible;
        transform: translateY(0);
    }
}

@-webkit-keyframes hide-info {
    0% {
        visibility: visible;
        transform: translateY(0);
    }

    100% {
        visibility: hidden;
        transform: translateY(100%);
    }

}

.append-info {
    animation: append-info .25s ease-in-out;
}

.hide-info {
    animation: hide-info .25s ease-in-out;
    visibility: hidden;
}
.info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: #D6D9CE;
    padding: 30px 20px;

    h1 {
        margin: 0;
        font-size: 24px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: -0.02em;

        img {
            vertical-align: text-bottom;
        }
    }

    &__link {
        text-decoration: none;
        color: #00C24C;

        &:hover, &:active {
            color: #00C24C;
        }
    }

    a:hover, a:active {
        opacity: 0.8;
    }

    &__add {
        background: rgba(255, 255, 255, .4);
        padding: 10px 16px;
        border-radius: 8px;
        margin-top: 40px;
    }
    &__closeBtn {
        position: absolute;
        bottom: 12px;
        right: 8px;
        background: transparent;
        border: none;
        padding: 14px 10px 10px;
        border-radius: 8px;

        &:hover, &:active {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}