.spinner {
    overflow: hidden;
    // background: #fff url(https://andyhoffman.codes/random-assets/img/slots/sprite5.png) repeat-y;
    will-change: backgroundPosition;
    transition: 0.3s background-position ease-in-out;
    // padding: 0 80px;
    transform: translateZ(0);
    height: 390px;
    border-right: 4px solid #CECECE;

    &:last-child {
        border-right: none;
    }

    &__image {
        max-width: 100%;
    }

    &__breakfast {
        background: url(../../assets/images/spinner/breakfast.png) repeat-y;
        background-size: 100% auto;

    }

    &__lunch {
        background: url(../../assets/images/spinner/lunch.png) repeat-y;
        background-size: 100% auto;


    }

    &__dinner {
        background: url(../../assets/images/spinner/dinner.png) repeat-y;
        background-size: 100% auto;


    }
}