.spinner {
    overflow: hidden;
    background: url(../../assets/images/spinner/final-spinner.png) repeat-y;
    will-change: backgroundPosition;
    transition: 0.3s background-position ease-in-out;
    background-size: 100% auto;
    height: 360px;
    border-right: 4px solid #CECECE;

    &:last-child {
        border-right: 4px solid transparent;
    }
}