@-webkit-keyframes append-card {
    0% {
        visibility: hidden;
        transform: translateY(-100%);
    }

    100% {
        visibility: visible; 
        transform: translateY(0);
    }
}

@-webkit-keyframes hide-card {
    0% {
        visibility: visible;
        transform: translateY(0);
    }
    100% {
        visibility: hidden;
        transform: translateY(-100%);
    }

}

.append {
    animation: append-card .5s ease-in-out;
}
.hide {
    animation: hide-card .5s ease-in-out;
    visibility: hidden;
}

.card {
    display: flex;
    justify-content: space-between;

    &__item {
        background-color: #fff;
        padding: 10px;
        margin-right: 8px;
        flex: 0 0 45%;
        border-radius: 8px;
        // height: 200px;
        overflow-y: hidden;

        &:last-child {
            margin-right: 15px;
        }

        // &:nth-child(2) {
        //     animation-delay: .02s;
        // }
        // &:nth-child(3) {
        //     animation-delay: .03s;
        // }
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 130px;
        margin-left: -8px;
        margin-top: -8px;
        border-radius: 50%;
    }

    &__name {
        font-style: italic;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-top: -25px;
        text-shadow: 1px 0px 15px #ffffff;

        span {
            border-bottom: 1px solid #00C24C;
        }
    }
}