.card {
    display: flex;
    justify-content: space-between;

    &__item {
        background-color: #fff;
        padding: 10px;
        margin-right: 8px;
        flex: 0 0 168px;
        border-radius: 8px;
    }

    &__image {
        display: block;
        width: auto;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 50%;
    }
    &__name {
        font-style: italic;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.02em;
        text-align: left;
        margin-top: -15px;

        span {
            border-bottom: 1px solid #00C24C;
        }
    }
}