

.App {
  /* display: flex; */
  height: 100vh;
  justify-content: center;
  width: 375px;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: scroll;*/ 
  -webkit-overflow-scrolling: touch; 
}

@supports (padding-top: constant(safe-area-inset-top)) {
  .App {
    --safe-area-inset-top: constant(safe-area-inset-top);
    height: calc(100vh + var(--safe-area-inset-top));
  }
}

@supports (padding-top: env(safe-area-inset-top)) {
  .App {
    --safe-area-inset-top: env(safe-area-inset-top);
    height: calc(100vh + var(--safe-area-inset-top));
  }
}
