

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,800,800i');


body {
  font-family: 'Montserrat',
  sans-serif;
  background-color: #E5E5E5;

}
