

.App {
  /* display: flex; */
  height: 100vh;
  justify-content: center;
  width: 375px;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
  /* overflow-y: scroll;*/ 
  -webkit-overflow-scrolling: touch; 
}

